# Copy to du_config.py and update the vars:

transmission_opts = ['-n', 'user:password']
re_movie_exts = '\.(avi|mp4|mkv|flv)$'
re_movie_blacklist = 'sample'
subtitles_ext = '\.(txt|sub)'
download_path = '/path/to/download/dir/'
db_file = '/path/to/series.sqlite'
user_agent = 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:39.0) Gecko/20100101 Firefox/39.0'
